.row1{
    width: 100%;
    padding: 5px 15px;
    display: flex;
    gap: 30px;
}

.header-container{
    display: flex;
    flex-direction: column;
    padding: 5px 15px;
}

.col1-row1{
    width: 15%;
}

.col2-row1{
    width: 40%;
}

.col3-row1{
    width: 45%;
}


.col2-row1 input{
    border-radius: 10px;
    padding: 10px;
    background-color: #F4F4F4;
    border: none;
    width: 85%;
}

.col2-row1 button{
    padding: 5px;
    border-radius: 5px;
    background-color: orange;
}

.col3-row1{
    display: flex;
    gap: 10px;
}

.col1-col3-row1,
.col2-col3-row1{
    background-color: red;
    width: 15%;
}
.col3-col3-row1,
.col4-col3-row1{
    background-color: cyan;
    width: 23.33%;
}

.col5-col3-row1{
    border-radius: 5px;
    background-color: orange;
    width: 23.33%;
}

.row2{
    display: flex;
    gap: 30px;
    width: 100%;
    padding: 5px 15px;
}

.filter-container{
    display: flex;
}