.row1{
    width: 100%;
    padding: 5px 15px;
    display: flex;
    gap: 30px;
}

.header-container{
    display: flex;
    flex-direction: column;
    padding: 5px 15px;
}

.col1-row1{
    width: 15%;
}

.col2-row1{
    width: 40%;
}

.col3-row1{
    width: 45%;
}


.col2-row1 input{
    border-radius: 10px;
    padding: 10px;
    background-color: #F4F4F4;
    border: none;
    width: 85%;
}

.col2-row1 button{
    padding: 5px;
    border-radius: 5px;
    background-color: orange;
}

.col3-row1{
    display: flex;
    gap: 10px;
}

.col1-col3-row1,
.col2-col3-row1{
    background-color: red;
    width: 15%;
}
.col3-col3-row1,
.col4-col3-row1{
    background-color: cyan;
    width: 23.33%;
}

.col5-col3-row1{
    border-radius: 5px;
    background-color: orange;
    width: 23.33%;
}

.row2{
    display: flex;
    width: 100%;
    padding: 5px 15px;
}

.row2 form ul{
    gap: 1px;
}

.row2 form ul ul{
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.row2 form ul ul p{
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
}

.col1-row2{
    width: 40px;
}

.filter-container{
    display: flex;
}

.filter-container ul li{
    display: none;
}

.filter-container>div{
    padding: 5px;
}

.filter-container p{
    padding: 5px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid;
    border-radius: 15px;
}

.border-orange{
    border: 3px solid #FFB560;
    color: #FFB560;
    background-color: #FFF4E0;
}

.filter-container ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}






.Body-container{
    display: flex;
    padding: 5px 15px;
    gap: 20px;
}
.left-Body {
    background-color: #a0c8ff;
    width: 75%;
    padding-bottom: 30% ;
}
.right-Body{
    background-color:blue;
    width: 25%;
    padding-bottom: 30% ;
    
}










